* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  place-content: center center;
  height: 100vh;
  gap: 0.5rem;
  background-position: left;
  background-image: linear-gradient(
    to left bottom,
    #e994d6,
    #e38ad3,
    #dc80d0,
    #d577cd,
    #cd6dca,
    #c15fb3,
    #b4519c,
    #a64487,
    #89355f,
    #68293f,
    #461f26,
    #251414
  );
}

.App > h1 {
  text-align: center;
}
.App > button {
  background-color: #251414;
  color: white;
  font-weight: bolder;
  padding: 0.4rem;
  border-radius: 10px;
  width: 100px;
  margin: 0 auto;
}

.App > input {
  border-radius: 5px;
  padding: 0.5rem;
}

.App > ul {
  list-style-type: none;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
}
